@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


div {
    left: 100px;
    right: 100px;
}

.navbar-header{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #666666;
    text-align: center !important;
    color: black;
}
.navbar-brand{
    padding-top: 20px;
    margin-top: 30px !important;
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    text-align: center !important;
    color: #00FFFF !important;
}
.navigation {
    position: relative;
    background-color: #80FFFF !important;
    width: 100%;
    font-size: 20px;
    color: #00FFFF !important;
}

li  {
    float: left;
    display:inline;
    color: black;
}

li a {
    display: block;
    color: black !important;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00CCCC;;
    color: black;
}

.active {
    background-color: #20dfdf;
}

.row.content {
    height: auto;
}
.row {
    overflow: visible;
}
.row {
    overflow: hidden;
}
ul.polaroids a:after {
  content: attr(title);
}

ul.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

body {
    position: relative;
    text-align: center !important;
    color: black;
    background-color: #B5B5B5;
    overflow: auto;
    width: 100%;
    height: 100%;
    float: bottom;
}
/*
section[role="main"] p a,li a{
    color:#7E3200;
}
section[role="main"] p a:hover,li a:hover{
    color:#461C00;
}*/
.polaroids li:nth-child(n+5){
    display:none;
}
ul.polaroids li{
    display:inline;
}
ul.polaroids a{
    background:#fff;
    display:inline;
    float:left;
    margin:0 0 27px 30px;
    width:auto;
    padding:10px 10px 15px;
    text-align:center;
    font-family:"Marker Felt",sans-serif;
    text-decoration:none;
    color:#333;
    font-size:18px;
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 6px rgba(0,0,0,.25);
    -webkit-transform:rotate(-2deg);
    -webkit-transition:-webkit-transform .15s linear;
    -moz-transform:rotate(-2deg);
}
ul.polaroids li{
    padding-left:0;
}

@media screen and (max-width: 767px) {
    .row.content {height:auto;} 
}