<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>wadstagram</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/logout.js"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <form id="logoutform" method="post" action="/logout"/>
        
            <nav class="navbar navbar-default">
                <nav class="navbar-header">
                    <span class="navbar-brand">Wadstagram</span>
                </nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li> <a onclick="logout()">Logout</a></li> 
                </ul>
            </nav>
        

        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav"/>
                <div class="col-sm-8 text-left"> 
                    <h1>Picture</h1>
                    <p> </p>
                    <hr/>
                    <h3>Test</h3>
                    <img th:src="@{/image/{id}/data(id=${image.id})}" alt="placeholder"/>
                    <p> Amount of hearts: <span th:text="${hearts}"/> </p>
                    <form method="POST" th:action="@{/image/{id}/comment(id=${image.id})}">
                        Comment <input type="text" name="comment"/>
                        <input type="submit" value="Submit comment"/>
                    </form>
                    <ul>
                        <li th:each="comment : ${comments}">
                            <p> <span th:text="${comment.content}"/> </p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 sidenav"/>
            </div>
        </div>

    </body>
</html>