<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>wadstagram</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <span class="navbar-brand">Wadstagram</span>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li> <a onclick="logout()">Logout</a></li> 
                </ul>
            </nav>
        </div>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-8 text-left"> 
                    <h1>    My profile   </h1>
                    <form method="POST" th:action="@{/image}" enctype="multipart/form-data">
                        <label for="image">Image</label><input type="file" name="image" id="image"/><br/>
                        <input type="submit" value="Add!"/>
                    </form>

                    <h3>   My pictures   </h3>

                    <div class="row">
                        <ul class="polaroids">
                            <li th:each="image : ${images}">
                                <a th:href="@{/image/{id}(id=${image.id})}"> <img th:src="@{image/{id}/data(id=${image.id})}" alt="placeholder" style="width: 200px; height: 200px;"/> </a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form id="logoutform" method="post" action="/logout"/>
        <script src="/js/logout.js"/>
    </body>
</html>