<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>wadstagram</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/logout.js"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <form id="logoutform" method="post" action="/logout"/>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">Wadstagram</span>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li> <a onclick="logout()">Logout</a></li> 
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav"/>
                <div class="col-sm-8 text-left"> 
                    <h1>My profile -- Tähän käyttäjätunnus?</h1>
                    <form method="POST" th:action="@{/image}" enctype="multipart/form-data">
                        <label for="image">Image</label><input type="file" name="image" id="image"/><br/>
                        <input type="submit" value="Add!"/>
                    </form>
                    
                    <p>Piip! </p>
                    <h3>Test</h3>

                    <p th:each="image : ${images}">
                        <!-- <a th:href="@{/image/{id}(id=${image.id}"> --> <img th:src="@{image/__${image.id}__/data}" alt="placeholder"/> <!-- </a> -->
                    </p>
                    <div class="row">
                    <ul class="polaroid">
                <li>
                    <a th:href="@{/image/{id}(id=${image.id}" title="image_id">
                    <img th:src="@{image/__${image.id}__/data}" alt="Kuvateksti?"/>
                    </a>
                </li>
            </ul>
            </div>
                </div>
                <div class="col-sm-2 sidenav"/>
            </div>
        </div>
    </body>
</html>