<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>wadstagram</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
       <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="/css/index.css"/>
    </head>

    <body>
            <nav class="navbar-header">
                <span class="navbar-brand">Wadstagram</span>
            </nav>
            <nav class="navbar-nav">
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a th:href="@{/account/{id}(id=${account.id})}">Profile</a></li>
                <li><a onclick="logout()">Logout</a></li> 
            </ul>
            </nav>
        <fieldset>
            <legend>Submit a new picture</legend>
            <form method="POST" th:action="@{/image}" enctype="multipart/form-data">
                <label for="description">Description   </label> <input type="text" name="description" id="description"/><br/>
                <label for="image">Image   </label><input type="file" name="image" id="image"/><br/>
                <input type="submit" value="Add!"/>
            </form>
            </fieldset>
        
        
    <h1>Newest pictures</h1>
    <div class="row">
        <ul class="polaroids a">
            <li th:each="image : ${images}">
                <a th:href="@{/image/{id}(id=${image.id})}"> <img th:src="@{/image/{id}/data(id=${image.id})}" alt="placeholder" style="width: 200px; height: 200px;"/> </a> 
            </li>
        </ul>
           
        </div>
        <form id="logoutform" method="post" action="/logout"/>
        <script src="/js/logout.js"/>
    </body>
</html>