<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>wadstagram - login</title>
        <link rel="stylesheet" href="/css/login.css" type="text/css"/>
    </head>

    <body>
        <div class="header">Wadstagram</div>
        <div class="login-page">
            <div class="form">
                <form method="POST" th:action="@{/register}" th:object="${account}">                
                    <input th:field="*{username}" type="text" placeholder="username"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                    <input th:field="*{password}" type="password" placeholder="password"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                    <button type="submit">create</button>
                    <p class="message">Already registered? <a href="/login">Sign In</a></p>
                </form>
            </div>
        </div>
    </body>
</html>